<div flex layout="column" tabIndex="-1" role="main">

  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <h2>
        <span>Toolbar</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon md-font-icon="material-icons">share</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-font-icon="material-icons">more_vert</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-content flex layout="column" layout-align="start center">
    <h2 class="md-display-1">{{ home.message }}</h2>
    <p>Get cracking!</p>
  </md-content>

</div>